<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Test">

        <groups>
            <run>
                <include name="smokeTest" />
            </run>
        </groups>

    <classes>
        <class name="Sanity.CreateAccountTest">

    </class>
    </classes>
</test></suite>